*{
    margin: 0;
    padding: 0;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
   grid-gap:20px; 
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(4, 1fr);
   height: 100vh;
   font-family: sans-serif;
   grid-template-areas: "header header header"
                        "contenido contenido sidebar"
                        "widget-1 widget-2  sidebar"
                        "footer footer footer";
}

.contenedor .header {
    background-color: #3b61b1;
    grid-area: header;
}
.contenedor .contenido {
  grid-area: contenido; 
   
}
.contenedor .sidebar {
    background-color: #faa43d;
    grid-column: 3/4;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 2 / 4 ;
    border-radius: 6px;
    grid-area:sidebar;
   
}
.contenedor .widget-1,
.contenedor .widget-2 {
    background-color: #55a8fd;
    color: #fff;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;  
}
.contenedor .widget-1{
    grid-area: widget-1;
}
.contenedor .widget-2{
    grid-area: widget-2;
}
.contenedor .footer{
    background-color: #202f4e;
    color: #fff;
    height: 50px;
    padding-top:12px;
    padding-left:15px;
    border-radius: 6px;
    grid-area: footer;
}
@media screen and (max-width:768px) {
    .contenedor{
        grid-template-areas: "header header header"
                        "contenido contenido contenido"
                        "sidebar sidebar sidebar"
                        "widget-1 widget-1  widget-2"
                        "footer footer footer";

    }
}